@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    background-color: rgb(217, 217, 217);
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


header{
    position: sticky;
    top: 0;
    width: calc(100% - 5vw);
    display: flex;
    justify-content: space-between;
    background-color: #3b5998;
    color: aliceblue;
    height: 5vh;
    font-size: xx-large;
    padding: 2vh;
    padding-left: 3vw;
    padding-right: 2vw;
    font-family: 'Montserrat', sans-serif;
}

header h1{
    cursor: pointer;
}

header div{
    cursor: pointer;
    display: flex;
    gap: 1vw;
    font-size: 20px;
    align-items: center;
}

header img{
    margin-left: 2.5vw;
    width: 30px;
    height: max-content;
}

.pfp-img {
    width: 35px;
    height: max-content;
    border-radius: 50%;
}


.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 2vh;
}

#createpost-text{
    width: 100%;
    padding-left: 4vw;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
}
#createpost-text div{
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#mensagem-post{
    width: 90%;
    height: 40px;
    word-wrap: break-word;
    background-color: aliceblue;
    border: none;
    outline: none;
    resize: none;
}

#button{
    width: 100%;
}

.botaoenviar{
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.174);
    cursor: pointer;
    padding-top: 3vh;
    font-size: 2.5vh;
    width: 100%;
    background-color: aliceblue;
    border: none;
    outline: none;
    padding-bottom: -2vh;
}

.linkfoto{
    background-color: aliceblue;
    border: none;
    outline: none;
    width: 80%;
}

.post {
    display: flex;
    background-color: aliceblue;
    margin-top: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5vw;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.174), -1px -1px 5px rgba(0, 0, 0, 0.371);
}

.post-img{
    display: contents;
}

.pfp .postdata {
    font-size: 0.8em;
}

.post-text{
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    background-color: aliceblue;
    width: 100%;
}
.post-text p{
    word-wrap: break-word;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 5%;
    line-height: 1.2em;
    font-weight: 500;
}

.post-img img{
    width: 100%;
    height: max-content;
}

.pfp {
    padding-left: 3%;
    width: 100%;
    display: flex;
}
.pfp p{
    font-size: 1.2em;
}

.pfp img{
    margin-left: 3vh;
    height: 6vh;
    border-radius: 50%;
}

.info-post {
    margin-left: 0.8vw;
    margin-top: 0.7vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5vh;
}
.create-post {
    margin-left: 0.8vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5vh;
}

.post-reactions, .post-like, .post-comment{
    display: flex;
    align-items: center;
}

.post-reactions {
    margin-top: 2vh;
    width: 100%;
    justify-content: space-evenly;
}
.post-like, .post-comment {
    cursor: pointer;
}


.post-like img{
    width: 3vw;
}
.post-comment img{
    width: 3vw;
}

.post-like p, .post-comment p{
    margin-left: 1vw;
}

footer{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    background-color: #3b5998;
    color: aliceblue;
    height: 5vh;
    font-size: x-large;
    padding: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

footer a{
    font-size: medium;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

footer a img{
    margin-right: 0.3vw;
    width: 30px;
    height: max-content;
}